body {
  background-color: #432d8c;
  height: 100vh;

}

/*.tunnel {*/
/*  display: inline-block;*/
/*  margin-left: 260px;*/
/*  margin-right: 250px;*/
/*  margin-top: 65px ;*/
/*  width: 1000px;*/
/*  height: 600px;*/
/*}*/


.coraline {
	position: absolute;
	position: relative;
	display: inline-block;
	margin-left: 400px;
	margin-top: 170px;
	width: 230px;
	height: 380px;
}


.wrapper {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1000px;
	height: 600px;
	background-image: url("https://i.pinimg.com/736x/0f/df/0f/0fdf0f71a4c84b818c9369699ce126fd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: -4px -1px 58px 10px rgba(39,17,82,1);
-moz-box-shadow: -4px -1px 58px 10px rgba(39,17,82,1);
box-shadow: -4px -1px 58px 10px rgba(39,17,82,1);

}

h1 {
	display: inline-block;
	position: relative;
	font-size: 50px;
	margin-left: 680px;
	margin-top: 10px;
	color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px lavenderblush;, 0 0 5px darkblue;
}


h1:hover {
  text-decoration: white wavy underline;
}

.coraline {
  animation: rotation 3s linear;
  animation-iteration-count: 1

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



